$primary-blue: #23a6d5;
$secondery-blue: #0071bc;
$white: #fff;
$black: #000;
$ltGray: #f0f0f0;
$ltBlack: #222;

$primary_font_family: 'Poppins', 'Montserrat', 'Open Sans', sans-serif;
$secondery_font_family: 'Open Sans', sans-serif;
