$primary: orange;
$white: #ffffff;
$black: #000000;
$dkGray: #303030;
$ltGray: #cecece;

$primary_font_family: 'Montserrat', 'Open Sans', sans-serif;
$secondery_font_family: 'Open Sans', sans-serif;

// font-family: 'Montserrat', sans-serif;
// font-family: 'Open Sans', sans-serif;
// font-family: 'Raleway', sans-serif;