.header {
    width: 100%;
    position: relative;
}

.header__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem 0;
}

.header__logo {
    height: 60px;
    width: 60px;
    z-index: 10;

    @include breakpoint(desktop) {
        height: 100px;
        width: 100px;
    }

}

.header__logo--svg-color {
    color: #fff;
}

.header__btn {
    position: relative;
    z-index: 101;
}

// hamburger icon
    .nav-toggle-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        width: 60px;
        height: 60px;
        border: none;
        padding: 0;
        background-color: #fff;
        text-align: center;

        position: fixed;
        top: 8px;
        right: 5%;

        @include breakpoint(desktop) {
            width: 70px;
            height: 70px;
        }
          
        // making the dividers
        > span {
            // the second divider
            display: inline-block;
            position: relative;
            height: 3px;
            width: 34px;
            border-radius: 1px;
            background: #222;
            vertical-align: middle;
            
            // the first & the third dividers
            &:before, &:after {
            display: inline-block;
                position: absolute;
                content: "";
                height: 3px;
                border-radius: 1px;
                background: #222;
                // for the hover state
                transition: all 200ms;
            }
            &:before {
            top: -11px;
                left: 3px;
                width: 28px;
            }
            &:after {
            top: 11px;
                left: 6px;
                width: 22px;
            }
        }

        &:focus { outline: none }
        
        &:hover > span:after, 
        &:hover > span:before {
            width: 34px;
            left: 0;
        }
    }

    // active hamburger state
    .nav-toggle-btn.active > span {
		height: 0;
        &:after, 
        &:before {
			width: 34px;
            top: 0px;
            left: 0;
		}
		&:after {
		    transform: rotate(-45deg);
		}
		&:before {
			transform: rotate(45deg);
		}
	}

// navigation
.nav-backdrop-container {
    position: fixed;
    background-color: rgb(27 27 28 / 70%);
    transform: translate(100%, -100%);
    transition: all 0.3s ease-in-out;
    display: flex;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
}

.nav-backdrop-container.active {
    transform: translate(0, 0);
}

nav.nav {
    background: 
    linear-gradient(
        45deg,rgb(21 87 153 / 75%),#0071bc),
        url(../src/img/common-bg.svg);
    background-color: #007cce;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;

    height: 100%;
    width: 100%;
    right: 0;
    position: absolute;

    @include breakpoint(desktop) {
        width: 50%;
    }
}

ul.nav__list {
    list-style: none;

    li {
        a {
            color: #f2f2f2;
            font-size: 2.5rem;
            padding-bottom: 1rem;
            display: block;
            text-decoration: none;
            text-align: start;
            text-transform: capitalize;
            transition: all .3s ease-in-out;

            @include breakpoint(desktop) {
                font-size: 3rem;
            }

            &:hover {
                color: #222;
            }
        }
    }
}
