//
.icon-arrow {
  display: inline-block;
  width: 30px;
  height: 50px;
  stroke-width: 0;
  stroke: currentColor;
  fill: none;
  color: #23a6d5;
}

.icon {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

// buttons
.btn {
  width: 100%;
  text-align: center;
  text-decoration: none;
  background: #fff;
  color: #333;
  text-transform: uppercase;
  letter-spacing: 2px;
  display: inline-block;
  font-weight: 700;
  border-radius: 5px;
  box-shadow: 0 5px 15px 0 rgb(0 0 0 / 15%);
  transition: transform 0.3s;
  outline: none;
  border: 0;
  cursor: pointer;

  @include breakpoint(tablet) {
    width: 30%;
  }
  @include breakpoint(large-desktop) {
    width: 45%;
  }
  @include breakpoint(extra-large-desktop) {
    width: 30%;
  }
}

.btn:hover {
  transform: translateY(-3px);
}

.btn--theme {
  background: $secondery-blue;
  color: #fff;
}

.btn--size {
  padding: 0.5rem 2rem;
  font-size: 0.75rem;

  @include breakpoint(desktop) {
    font-size: 1rem;
  }
}

.contact__btn {
  @include breakpoint(large-desktop) {
    width: 25%;
  }
}
