// slick slider
.experience-slider__top {
    position: relative;
    padding: 0.5rem 0;

    @include breakpoint(desktop) {
        margin: 0 0.5rem;
    }

}
.experience-slider__bottom {
    display: none;

    @include breakpoint(large-desktop) {
        display: block;
    }
}

.arrow-slider {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.arrow-slider__left,
.arrow-slider__right {
    top: 50%;
    transform: translateY(-50%);
    background-color: #d2d8dd;
    border-radius: 5px;
}

.arrow-slider__left {
    z-index: 20;
    position: absolute;
    left: 0;
}

.arrow-slider__right {
    position: absolute;
    right: 0;
    z-index: 20;
}

.slider-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 2rem;
    flex-direction: column;

    @include breakpoint(desktop) {
        flex-direction: row;
    }
}

.slider-flex__text {
    flex-direction: column;
    padding: 0.5rem;
    background-color: $white;
    height: 70vw;
    display: flex;
    justify-content: center;
    border-radius: 5px;

    @include breakpoint(tablet) {
        height: 50vw;
    }
    @include breakpoint(desktop) {
        background-color: $white;
        height: auto;
    }

    h3 {
        text-transform: uppercase;
        color: #23a6d5;
        padding: 0  0 .5rem 0;
        text-align: center;
        font-size: 1.1rem;

        @include breakpoint(desktop) {
            text-align: left;
            font-size: 1.3rem;
        }
    }

    p {
        padding: 1rem;
        box-shadow: 1px 1px 1px #d6e2ed;
        background-color: aliceblue;
        border-radius: 5px;
        height: 50vh;

        @include breakpoint(desktop) {
            height: auto;
        }
    }
        
}

.slider-flex--bg {
    padding: 1rem;
    cursor: pointer;
}