.section-h2-title {
  padding: 2rem 0;
  text-align: center;
  text-transform: uppercase;
  font-family: $primary_font_family;
  font-weight: 600;
  font-size: 1.5rem;
  color: #23a6d5;

  @include breakpoint(desktop) {
    font-size: 1.7rem;
  }
  @include breakpoint(large-desktop) {
    padding: 2rem;
    font-size: 2rem;
  }
}

.section-h3-title {
  font-family: $primary_font_family;
  color: $white;
  font-size: 1.3rem;
  padding-bottom: 1rem;
  align-self: flex-start;

  @include breakpoint(desktop) {
    font-size: 1.5rem;
  }
  @include breakpoint(large-desktop) {
    font-size: 1.7rem;
  }
}

.paragraph-text-primary {
  font-weight: 400;
  text-align: inherit;
}
