@import "mixins";
@import "colors";
@import "typography";
@import "icons";
@import "fonts";
@import "global";
@import "./sliders";
@import "header";
@import "footer";

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Roboto" sans-serif;
}

main.container {
    height: calc(100vh + 55px);
    position: relative;
    overflow: hidden;

    background: 
        linear-gradient(90deg,rgba(2,2,2,.8), #000),
        url(../src/img/common-bg.svg);

    background-size: 400% 400%;

    animation: gradient 15s ease infinite;

    @include breakpoint(desktop) {
        height: 100vh;
    }
}

#particles-js {
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 4;
}

.hero-content {
    height: calc(100% - 130px);   
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.hero-content__text { 
    position: relative;
    padding: .5rem;
    width: 95%;
    font-family: 'Roboto', sans-serif;
    color: white;
    font-style: normal;
    text-align: left;
    position: relative;
    z-index: 5;

    @include breakpoint(desktop) {
        background-color: rgb(6, 6, 6, .7);
        padding: 1.5rem;
        background: linear-gradient(
            45deg,rgb(44 134 169 / 70%),#063250,#0071bc,#000);
        background-size: 400% 400%;
        animation: gradient 15s ease infinite;
        width: 50%;
    }
}

.hero-content__title {
    width: 100%;
    font-size: 3.5rem;
    line-height: 3.5rem;

    @include breakpoint(desktop) {
        font-size: 3.7rem;
        line-height: 3.7rem;
    }
    
    @include breakpoint(large-desktop) {
        font-size: 4.5rem;
        line-height: 4.5rem;
    }
}

.hero__title--primary {
    span {
        display: block;

        @include breakpoint(desktop) {
            display: inline-block;
        }
    }
}

.hero__title--secondery {
    text-shadow: 1px 1px 1px #222;

    span {
        color: #03a9f4;
    }
}

.bg-particles {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
}

// about
.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-wrap: wrap;
    padding: 5rem 0;
    background: 
        linear-gradient(90deg,rgba(240,248,255,.8),rgb(168 172 177)),
        url(../src/img/common-bg.svg);
    background-size: cover;
    background-position: 50%;

    @include breakpoint(desktop) {
        flex-direction: row;
    }

}

.about-container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;

    @include breakpoint(desktop) {
        flex-direction: row;
        background-color: #fff;
    }

    @include breakpoint(large-desktop) {
        background: transparent;
    }
}

.about-container--reverse {
    flex-direction: column;

    @include breakpoint(desktop) {
        flex-direction: row-reverse;
    }
}

.about-container__box {
    position: relative;
    flex: 1 1 100%;
    width: 100%;
    
    @include breakpoint(desktop) {
        flex: 1 1 50%;
        width: 50%;
    }
}

.about-container__box--backdrop::after {
    content: "";
    background-color: rgba(0,0,0,.2);
    position: absolute;
    z-index: 4;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

img.about-container__box--img {
    aspect-ratio: 1 / 0.75;
    object-fit: cover;
}

.about-container__text {
    position: relative;
    z-index: 5;
    background-color: #fff;
    padding: 1rem;
    box-shadow: 1px 1px 1px #d6e2ed;
    font-size: 1rem;

    @include breakpoint(desktop) {
        box-shadow: none;
        font-size: 1.125rem;
    }
}

.about-container__paragraph {
    padding: 2rem 0;

    @include breakpoint(desktop) {
        font-size: 1rem;
        padding: 1rem 0;
    }
}

.about-container__paragraph--border-bottom {
    border-bottom: 1px solid #d6e2ed;
}

.about__title {
    width: 80%;
    z-index: 5;
    text-transform: uppercase;
    text-align: center;
    font-size: 1.3rem;
    color: #23a6d5;
    padding: 1rem;
    position: absolute;
    left: 0;
    transform: translateY(-50%);
    top: 50%;
    background-color: rgb(255 255 255 / 80%);
    box-shadow: 1px 1px 1px #d6e2ed;

    @include breakpoint(desktop) {
        width: 70%;
        font-size: 1.5rem;
        padding: 1rem;
    }

    @include breakpoint(large-desktop) {
        font-size: 2rem;
        padding: 2rem;
    }
}

.about__title--right {
    right: 0;
    left: auto;
}

.about__experience {
    display: flex;
    justify-content: space-between;

    li {
        text-align: center;
    }
}

span.about__experience--title {
    font-weight: 700;
    text-transform: uppercase;
    padding-bottom: 1.5rem;
    display: inline-block;
    color: #222;
}

.about-container__text--top {
    right: 0;

    @include breakpoint(desktop) {
        right: 0;
    }
    @include breakpoint(large-desktop) {
        right: 5rem;
    }
}

.about-container__text--bottom {
    left: 0;

    @include breakpoint(desktop) {
        left: 0;
    }

    @include breakpoint(large-desktop) {
        left: 5rem;
    }
}

// projects
.projects {
    background-color: #000;
}

h2.projects-title {
    padding: 2rem 0;
    text-align: center;
    font-size: 1.7rem;
    color: #23a6d5;
    text-transform: uppercase;

    @include breakpoint(desktop) {
        font-size: 2rem;
    }
    @include breakpoint(large-desktop) {
        font-size: 2.5rem;
    }
}

.projects__row {
    display: flex;
    grid-gap: 3rem;
    margin-bottom: 5rem;
    flex-direction: column;

    @include breakpoint(desktop) {
        flex-direction: row;
        grid-gap: 5rem;
    }
}

.projects__row:nth-child(even) {
    flex-direction: column;

    @include breakpoint(desktop) {
        flex-direction: row-reverse;
    }
}

.projects__row--img {
    flex: 1.5;
}

.projects__row--text {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;

    h2 {
        font-size: 1.5rem;
        color: #fff;
        
        @include breakpoint(desktop) {
            font-size: 2rem;
        }
        @include breakpoint(large-desktop) {
            font-size: 2.5rem;
        }
    }
}

.text-container {
    display: flex;
    flex-direction: column;
    background-color: #f0f8ff;
    background: 
        linear-gradient(90deg,rgba(2,2,2,.65), #000),
        url(../src/img/common-bg.svg);
        background-size: 400% 400%;

    padding: 2rem;
    align-items: flex-start;
    // if background is white than I gonna use box-shadow
    // box-shadow: 1px 1px 1px #d6e2ed;
    // border-radius: 5px;

}

.text-container--title {
    color: #23a6d5;
    font-size: 2.5rem;
    padding-bottom: 1rem;
}

.text-container--description {
    box-shadow: 1px 1px 1px #d6e2ed;
    margin-bottom: 3rem;
    padding: 0.5rem;
    background: #fff;
}

.btn {
    text-decoration: none;
    background: #fff;
    color: #333;
    text-transform: uppercase;
    letter-spacing: 2px;
    display: inline-block;
    font-weight: 700;
    // border-radius: 5px;
    box-shadow: 0 5px 15px 0 rgb(0 0 0 / 15%);
    transition: transform .3s;
    outline: none;
    border: 0;
}

.btn:hover {
    transform: translateY(-3px);
}

.btn--theme {
    background: #0071bc;
    color: #fff;
}

.btn--med {
    padding: .5rem 2rem;
    font-size: 1rem;
}

// contact
section.contact {
    padding: 0 0 2rem;
    background-color: #f0f8ff;
    background: 
        linear-gradient(90deg,rgba(240,248,255,.8),rgb(168 172 177)),
        url(../src/img/common-bg.svg);
    background-size: cover;
    background-position: 50%;
}

.contact__form-container {
    box-shadow: 0 0 10px rgb(0 0 0 / 10%);
    background: #fff;
    padding: 1rem;
    max-width: 60rem;
    text-align: right;
    border-radius: 5px;
    margin: 0 auto;

    @include breakpoint(desktop) {
        margin: 3rem auto 0;
    } 
}

.contact__form-field {
    margin-bottom: 4rem;
}

.contact__form-label {
    color: #222;
    font-size: 1rem;
    letter-spacing: 1px;
    font-weight: 700;
    margin-bottom: 1rem;
    display: block;
    text-align: left;
}

.contact__form-input {
    color: #333;
    padding: 1rem;
    width: 100%;
    border: 1px solid #ebebeb;
    font-size: 1rem;
    letter-spacing: 0px;
    background: #f0f0f0;
    border-radius: 5px;
    font-weight: 600;
}

// BTT
.back-to-top-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.back-to-top {
    display: none;
    background-color: rgb(193 179 179 / 70%);
    position: fixed;
    padding: 10px;
    justify-content: center;
    bottom: 0;
    margin: 5px;
    z-index: 20;
}
.back-to-top.show {
    display: flex;
}


a.btn-to-top {
    height: 3.5rem;
    width: 3.5rem;

    @include breakpoint(desktop) {
        height: 4rem;
        width: 4rem;
    } 
}

a.show-fire {
    position: absolute;
    height: 3.5rem;
    width: 3.5rem;
    display: none;

    @include breakpoint(desktop) {
        height: 4rem;
        width: 4rem;
    } 
}

a.show-fire.show {
    display: block;
}

// @keyframes
@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
