@import "mixins";
@import "colors-variables";
@import "typography-headings";
@import "icons-buttons";
@import "fonts";
@import "global";
@import "./sliders";
@import "header";
@import "footer";

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Open Sans', sans-serif;
    // font-family: 'Open Sans', sans-serif;
    // font-family: 'Raleway', sans-serif;
}

main.container {
    height: calc(100vh + 55px);
    position: relative;
    overflow: hidden;

    background: 
        linear-gradient(90deg,rgba(2,2,2,.8), #000),
        url(../src/img/common-bg.svg);
        background-size: 400% 400%;
    
    animation: gradient 15s ease infinite;

    @include breakpoint(desktop) {
        height: 100vh;
    }
}

#particles-js {
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 4;
}

.hero-content {
    height: calc(100% - 130px);   
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.hero-content__text { 
    position: relative;
    padding: .5rem;
    width: 95%;
    font-family: $primary_font_family;
    color: #fff;
    font-style: normal;
    text-align: left;
    position: relative;
    z-index: 5;
    border-radius: 5px;

    @include breakpoint(desktop) {
        background-color: rgb(6, 6, 6, .7);
        padding: 1.5rem;
        background: linear-gradient(
            45deg,rgb(44 134 169 / 70%),#063250,#0071bc,#000);
        background-size: 400% 400%;
        animation: gradient 15s ease infinite;
        width: 50%;
    }
}

.hero-content__title {
    width: 100%;
    font-weight: 700;
    font-size: 3.1rem;
    line-height: 3.2rem;

    @include breakpoint(desktop) {
        font-size: 3.3rem;
        line-height: 3.3rem;
    }
    
    @include breakpoint(large-desktop) {
        font-size: 4.5rem;
        line-height: 4.5rem;
    }
}

.hero__title--primary {
    span {
        display: block;

        @include breakpoint(desktop) {
            display: inline-block;
        }
    }
}

.hero__title--secondery {
    text-shadow: 1px 1px 1px #222;

    span {
        color: #03a9f4;
    }
}

.bg-particles {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
}

//////////////////
// about
.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-wrap: wrap;
    padding: 0;
    background-color: #ccc;

    background-size: cover;
    background-position: 50%;

    @include breakpoint(desktop) {
        flex-direction: row;
        padding: 2.5rem 0;
        background: 
        linear-gradient(90deg,rgba(240,248,255,.8),rgb(168 172 177)),
        url(../src/img/common-bg.svg);
    }

    @include breakpoint(large-desktop) {
        padding: 5rem 0;
    }

}

.about-container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;

    @include breakpoint(desktop) {
        flex-direction: row;
        background-color: #fff;
    }

    @include breakpoint(large-desktop) {
        background: transparent;
    }
}

.about-container--reverse {
    flex-direction: column;

    @include breakpoint(desktop) {
        flex-direction: row-reverse;
    }
}

.about-container__box {
    position: relative;
    flex: 1 1 100%;
    width: 100%;
    
    @include breakpoint(desktop) {
        flex: 1 1 50%;
        width: 50%;
    }
}

.about-container__box--backdrop::after {
    content: "";
    background-color: rgba(0,0,0,.2);
    position: absolute;
    z-index: 4;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.about-container__box--img {
    aspect-ratio: 1 / 0.75;
    object-fit: cover;
}

.about-container__text {
    position: relative;
    z-index: 5;
    background-color: #fff;
    box-shadow: 1px 1px 1px #d6e2ed;
    font-size: 1rem;
    border-radius: 5px;

    @include breakpoint(desktop) {
        box-shadow: none;
        font-size: 1rem;
    }
    @include breakpoint(large-desktop) {
        font-size: 1.125rem;
    }
}

.about-container__paragraph {
    padding: 1rem;
}

.about-container__paragraph--border-bottom {
    border-bottom: 1px solid #d6e2ed;
}

h2.about__title {
    z-index: 5;
    text-align: left;
    padding: .8rem;
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    font-size: 1rem;

    // background-color: rgb(255 255 255 / 80%);
    // box-shadow: 1px 1px 1px #d6e2ed;

    background: 
        linear-gradient(45deg,rgba(44,134,169,.7),#063250,#0071bc,#000);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    color: $white;

    @include breakpoint(desktop) {
        font-size: 1.3rem;
        padding: 1rem;
        text-align: center;
    }

    @include breakpoint(large-desktop) {
        font-size: 1.7rem;
    }

}

.about__title--left {
    width: 35%;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}

.about__title--right {
    width: 50%;
    right: 0;
    left: auto;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

.about__experience {
    display: flex;
    justify-content: space-between;

    li {
        text-align: center;
    }
}

.about-container__text--top {
    right: 0;

    @include breakpoint(desktop) {
        right: 0;
    }
    @include breakpoint(large-desktop) {
        right: 5rem;
    }
}

.about-container__text--bottom {
    left: 0;

    @include breakpoint(desktop) {
        left: 0;
    }

    @include breakpoint(large-desktop) {
        left: 5rem;
    }
}

//////////////////
// projects
.projects {
    background-color: #000;
}


.projects-title {
    background-color: #222;

    @include breakpoint(desktop) {
        background-color: transparent;
    }
}

.projects__row {
    display: flex;
    flex-direction: column;
    padding: 1rem 0;

    @include breakpoint(desktop) {
        padding-bottom: 5rem;
        flex-direction: row;
        grid-gap: 5rem;
    }
}

.projects__row:nth-child(even) {
    flex-direction: column;

    @include breakpoint(desktop) {
        flex-direction: row-reverse;
    }

}

.projects__row--img {
    flex: 1.5;
}

.projects__row--text {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.text-container {
    display: flex;
    flex-direction: column;
    background-color: #f0f8ff;
    background: 
        linear-gradient(90deg,rgba(2,2,2,.65), #000),
        url(../src/img/common-bg.svg);
        background-size: 100% 100%;

    padding: 2rem;
    align-items: flex-end;
    border-radius: 5px;
    box-shadow: 1px 1px 1px #222;

}

.text-container--description {
    box-shadow: 1px 1px 1px #d6e2ed;
    margin-bottom: 3rem;
    letter-spacing: .3px;
    padding: 0.5rem;
    background: #fff;
    border-radius: 5px;
}

//////////////////////
// contact
section.contact {
    padding: 0 0 2rem;
    background-color: #f0f8ff;
    background: 
        linear-gradient(90deg,rgba(240,248,255,.8),rgb(168 172 177)),
        url(../src/img/common-bg.svg);
    background-size: cover;
    background-position: 50%;

    @include breakpoint(desktop) {
        padding: 0 0 2.5rem;
    }
    @include breakpoint(large-desktop) {
        padding: 0 0 2rem;
    }
}

.contact__form-container {
    box-shadow: 0 0 10px rgb(0 0 0 / 10%);
    background: #fff;
    padding: 1rem;
    max-width: 60rem;
    text-align: right;
    border-radius: 5px;
    margin: 0 auto;
}

.contact__form-label {
    color: #222;
    font-size: 1rem;
    letter-spacing: 1px;
    font-weight: 700;
    padding: 1rem;
    display: block;
    text-align: left;
}

.contact__form-input {
    color: #333;
    padding: 1rem;
    width: 100%;
    border: 1px solid #ebebeb;
    font-size: 1rem;
    letter-spacing: 0px;
    background: #f0f0f0;
    border-radius: 5px;
    font-weight: 600;
}

.contact__form-input--space {
    margin: 0 0 2rem 0;
}

////////////////////
// BTT
.back-to-top-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.back-to-top {
    display: none;
    background-color: rgb(193 179 179 / 70%);
    position: fixed;
    padding: 10px;
    justify-content: center;
    bottom: 0;
    margin: 5px;
    z-index: 20;
    border-radius: 5px;
}
.back-to-top.show {
    display: flex;
}

a.btn-to-top {
    height: 3.5rem;
    width: 3.5rem;

    @include breakpoint(desktop) {
        height: 4rem;
        width: 4rem;
    } 
}

a.show-fire {
    position: absolute;
    height: 3.5rem;
    width: 3.5rem;
    display: none;

    @include breakpoint(desktop) {
        height: 4rem;
        width: 4rem;
    } 
}

a.show-fire.show {
    display: block;
}

///////////////////
// @keyframes
@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
